body{
    background: #e6ecf0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    text-align: center;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,body,div,p{
    padding: 0;
    margin: 0
}
.date-wrpaer{
    float: right;
    display: flex;
    justify-content: space-around;
    border: 1px dotted white;
    margin: -155px -18px 0 0;
    padding: 27px;
    border-radius: 101%;
    color: rgb(1, 54, 28);
    font-size: 26px;
    
}
.date{
    padding: 3px;

}
.time{
    padding: 3px;
}
.date-wrpaer::after{
    content: '';
    clear: both;
}
main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
    
}

.quote {
    background: #ffffff;
    border-radius: 8px;
    padding: 50px;
        padding-bottom: 50px;
    padding-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 0 6px     
    
}

.quote blockquote {
    border: 0;
    color: #39434c;
    font-family: Georgia, serif;
    font-size: 26px;
    font-style: italic;
    line-height: 1.3;
    padding: 0;
    margin-bottom: 20px;
}
.media{
    float: left;
    display: flex;
    flex-direction: row-reverse
}
.main img {
    float: left;
    width: 17vw;
    height: 17vw;
    border-radius: 100%;
}
.media::after{
    content: '';
    clear: both;
}
.main::after{
    content: '';
    clear: both;
}
.titles{
    display: flex;
    flex-direction: column;
}
.titles p{
   font-weight: 500;
}

.tag{
    font-size: 1.2em;
   padding: 3px;
    color:#4c68d7;
}

.hastag{
    color:#cd486b;
}

h1{
    text-align: center;
    margin-top: 130px;
    padding: 10px;
    font-weight: 100;
		color: #777;
}
.share{
    margin-top:17vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px 
}
.fb-share-button{
    padding: 1em;
    
}

 button{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background: dodgerblue;
    padding: 1em;
    border-radius: 50%;
    border: none;
    align-self: center;
    margin: 5px 50%;
    cursor: pointer;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    width: 100%;
    height: auto;
    padding: 5px;
}
footer img{
    width: 8%;
    position: relative;
}